In [15]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
os.getcwd()

'/Users/ashwinivalmiki/Downloads'

In [127]:
df=pd.read_csv('/Users/ashwinivalmiki/Downloads/50_Startups.csv')

In [128]:
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [129]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [131]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [132]:
df['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [133]:
a=pd.get_dummies(df['State'],drop_first=True)
a

    Florida  New York
0         0         1
1         0         0
2         1         0
3         0         1
4         1         0
5         0         1
6         0         0
7         1         0
8         0         1
9         0         0
10        1         0
11        0         0
12        1         0
13        0         0
14        1         0
15        0         1
16        0         0
17        0         1
18        1         0
19        0         1
20        0         0
21        0         1
22        1         0
23        1         0
24        0         1
25        0         0
26        1         0
27        0         1
28        1         0
29        0         1
30        1         0
31        0         1
32        0         0
33        1         0
34        0         0
35        0         1
36        1         0
37        0         0
38        0         1
39        0         0
40        0         0
41        1         0
42        0         0
43        0         1
44        0         0
45        0         1
46        1         0
47        0         0
48        0         1
49        0         0

In [134]:
df1=df.drop(['State'],axis=1)

In [135]:
df1=pd.concat([df1,a],axis=1)
df1

    R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0   165349.20       136897.80        471784.10  192261.83        0         1
1   162597.70       151377.59        443898.53  191792.06        0         0
2   153441.51       101145.55        407934.54  191050.39        1         0
3   144372.41       118671.85        383199.62  182901.99        0         1
4   142107.34        91391.77        366168.42  166187.94        1         0
5   131876.90        99814.71        362861.36  156991.12        0         1
6   134615.46       147198.87        127716.82  156122.51        0         0
7   130298.13       145530.06        323876.68  155752.60        1         0
8   120542.52       148718.95        311613.29  152211.77        0         1
9   123334.88       108679.17        304981.62  149759.96        0         0
10  101913.08       110594.11        229160.95  146121.95        1         0
11  100671.96        91790.61        249744.55  144259.40        0         0
12   93863.75       127320.38        249839.44  141585.52        1         0
13   91992.39       135495.07        252664.93  134307.35        0         0
14  119943.24       156547.42        256512.92  132602.65        1         0
15  114523.61       122616.84        261776.23  129917.04        0         1
16   78013.11       121597.55        264346.06  126992.93        0         0
17   94657.16       145077.58        282574.31  125370.37        0         1
18   91749.16       114175.79        294919.57  124266.90        1         0
19   86419.70       153514.11             0.00  122776.86        0         1
20   76253.86       113867.30        298664.47  118474.03        0         0
21   78389.47       153773.43        299737.29  111313.02        0         1
22   73994.56       122782.75        303319.26  110352.25        1         0
23   67532.53       105751.03        304768.73  108733.99        1         0
24   77044.01        99281.34        140574.81  108552.04        0         1
25   64664.71       139553.16        137962.62  107404.34        0         0
26   75328.87       144135.98        134050.07  105733.54        1         0
27   72107.60       127864.55        353183.81  105008.31        0         1
28   66051.52       182645.56        118148.20  103282.38        1         0
29   65605.48       153032.06        107138.38  101004.64        0         1
30   61994.48       115641.28         91131.24   99937.59        1         0
31   61136.38       152701.92         88218.23   97483.56        0         1
32   63408.86       129219.61         46085.25   97427.84        0         0
33   55493.95       103057.49        214634.81   96778.92        1         0
34   46426.07       157693.92        210797.67   96712.80        0         0
35   46014.02        85047.44        205517.64   96479.51        0         1
36   28663.76       127056.21        201126.82   90708.19        1         0
37   44069.95        51283.14        197029.42   89949.14        0         0
38   20229.59        65947.93        185265.10   81229.06        0         1
39   38558.51        82982.09        174999.30   81005.76        0         0
40   28754.33       118546.05        172795.67   78239.91        0         0
41   27892.92        84710.77        164470.71   77798.83        1         0
42   23640.93        96189.63        148001.11   71498.49        0         0
43   15505.73       127382.30         35534.17   69758.98        0         1
44   22177.74       154806.14         28334.72   65200.33        0         0
45    1000.23       124153.04          1903.93   64926.08        0         1
46    1315.46       115816.21        297114.46   49490.75        1         0
47       0.00       135426.92             0.00   42559.73        0         0
48     542.05        51743.15             0.00   35673.41        0         1
49       0.00       116983.80         45173.06   14681.40        0         0

In [136]:
X= df1.iloc[ : , :-1]

In [137]:
y=df1.iloc[:,-1]

In [138]:
# other way
x1=df1.drop(['Profit'],axis=1)
x1

    R&D Spend  Administration  Marketing Spend  Florida  New York
0   165349.20       136897.80        471784.10        0         1
1   162597.70       151377.59        443898.53        0         0
2   153441.51       101145.55        407934.54        1         0
3   144372.41       118671.85        383199.62        0         1
4   142107.34        91391.77        366168.42        1         0
5   131876.90        99814.71        362861.36        0         1
6   134615.46       147198.87        127716.82        0         0
7   130298.13       145530.06        323876.68        1         0
8   120542.52       148718.95        311613.29        0         1
9   123334.88       108679.17        304981.62        0         0
10  101913.08       110594.11        229160.95        1         0
11  100671.96        91790.61        249744.55        0         0
12   93863.75       127320.38        249839.44        1         0
13   91992.39       135495.07        252664.93        0         0
14  119943.24       156547.42        256512.92        1         0
15  114523.61       122616.84        261776.23        0         1
16   78013.11       121597.55        264346.06        0         0
17   94657.16       145077.58        282574.31        0         1
18   91749.16       114175.79        294919.57        1         0
19   86419.70       153514.11             0.00        0         1
20   76253.86       113867.30        298664.47        0         0
21   78389.47       153773.43        299737.29        0         1
22   73994.56       122782.75        303319.26        1         0
23   67532.53       105751.03        304768.73        1         0
24   77044.01        99281.34        140574.81        0         1
25   64664.71       139553.16        137962.62        0         0
26   75328.87       144135.98        134050.07        1         0
27   72107.60       127864.55        353183.81        0         1
28   66051.52       182645.56        118148.20        1         0
29   65605.48       153032.06        107138.38        0         1
30   61994.48       115641.28         91131.24        1         0
31   61136.38       152701.92         88218.23        0         1
32   63408.86       129219.61         46085.25        0         0
33   55493.95       103057.49        214634.81        1         0
34   46426.07       157693.92        210797.67        0         0
35   46014.02        85047.44        205517.64        0         1
36   28663.76       127056.21        201126.82        1         0
37   44069.95        51283.14        197029.42        0         0
38   20229.59        65947.93        185265.10        0         1
39   38558.51        82982.09        174999.30        0         0
40   28754.33       118546.05        172795.67        0         0
41   27892.92        84710.77        164470.71        1         0
42   23640.93        96189.63        148001.11        0         0
43   15505.73       127382.30         35534.17        0         1
44   22177.74       154806.14         28334.72        0         0
45    1000.23       124153.04          1903.93        0         1
46    1315.46       115816.21        297114.46        1         0
47       0.00       135426.92             0.00        0         0
48     542.05        51743.15             0.00        0         1
49       0.00       116983.80         45173.06        0         0

In [139]:
y1=df1['Profit']
y1

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [140]:
df1.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Florida',
       'New York'],
      dtype='object')

In [142]:
x2=df1[['R&D Spend', 'Administration', 'Marketing Spend', 'Florida','New York']]
y2=df1['Profit']
x2

    R&D Spend  Administration  Marketing Spend  Florida  New York
0   165349.20       136897.80        471784.10        0         1
1   162597.70       151377.59        443898.53        0         0
2   153441.51       101145.55        407934.54        1         0
3   144372.41       118671.85        383199.62        0         1
4   142107.34        91391.77        366168.42        1         0
5   131876.90        99814.71        362861.36        0         1
6   134615.46       147198.87        127716.82        0         0
7   130298.13       145530.06        323876.68        1         0
8   120542.52       148718.95        311613.29        0         1
9   123334.88       108679.17        304981.62        0         0
10  101913.08       110594.11        229160.95        1         0
11  100671.96        91790.61        249744.55        0         0
12   93863.75       127320.38        249839.44        1         0
13   91992.39       135495.07        252664.93        0         0
14  119943.24       156547.42        256512.92        1         0
15  114523.61       122616.84        261776.23        0         1
16   78013.11       121597.55        264346.06        0         0
17   94657.16       145077.58        282574.31        0         1
18   91749.16       114175.79        294919.57        1         0
19   86419.70       153514.11             0.00        0         1
20   76253.86       113867.30        298664.47        0         0
21   78389.47       153773.43        299737.29        0         1
22   73994.56       122782.75        303319.26        1         0
23   67532.53       105751.03        304768.73        1         0
24   77044.01        99281.34        140574.81        0         1
25   64664.71       139553.16        137962.62        0         0
26   75328.87       144135.98        134050.07        1         0
27   72107.60       127864.55        353183.81        0         1
28   66051.52       182645.56        118148.20        1         0
29   65605.48       153032.06        107138.38        0         1
30   61994.48       115641.28         91131.24        1         0
31   61136.38       152701.92         88218.23        0         1
32   63408.86       129219.61         46085.25        0         0
33   55493.95       103057.49        214634.81        1         0
34   46426.07       157693.92        210797.67        0         0
35   46014.02        85047.44        205517.64        0         1
36   28663.76       127056.21        201126.82        1         0
37   44069.95        51283.14        197029.42        0         0
38   20229.59        65947.93        185265.10        0         1
39   38558.51        82982.09        174999.30        0         0
40   28754.33       118546.05        172795.67        0         0
41   27892.92        84710.77        164470.71        1         0
42   23640.93        96189.63        148001.11        0         0
43   15505.73       127382.30         35534.17        0         1
44   22177.74       154806.14         28334.72        0         0
45    1000.23       124153.04          1903.93        0         1
46    1315.46       115816.21        297114.46        1         0
47       0.00       135426.92             0.00        0         0
48     542.05        51743.15             0.00        0         1
49       0.00       116983.80         45173.06        0         0

In [143]:
from sklearn.model_selection import train_test_split

In [144]:
X_train, X_test, y_train, y_test = train_test_split(x2, y2, test_size=0.33, random_state=42)

In [148]:
X_train

    R&D Spend  Administration  Marketing Spend  Florida  New York
46    1315.46       115816.21        297114.46        1         0
47       0.00       135426.92             0.00        0         0
15  114523.61       122616.84        261776.23        0         1
9   123334.88       108679.17        304981.62        0         0
16   78013.11       121597.55        264346.06        0         0
24   77044.01        99281.34        140574.81        0         1
34   46426.07       157693.92        210797.67        0         0
31   61136.38       152701.92         88218.23        0         1
0   165349.20       136897.80        471784.10        0         1
44   22177.74       154806.14         28334.72        0         0
27   72107.60       127864.55        353183.81        0         1
33   55493.95       103057.49        214634.81        1         0
5   131876.90        99814.71        362861.36        0         1
29   65605.48       153032.06        107138.38        0         1
11  100671.96        91790.61        249744.55        0         0
36   28663.76       127056.21        201126.82        1         0
1   162597.70       151377.59        443898.53        0         0
21   78389.47       153773.43        299737.29        0         1
2   153441.51       101145.55        407934.54        1         0
43   15505.73       127382.30         35534.17        0         1
35   46014.02        85047.44        205517.64        0         1
23   67532.53       105751.03        304768.73        1         0
40   28754.33       118546.05        172795.67        0         0
10  101913.08       110594.11        229160.95        1         0
22   73994.56       122782.75        303319.26        1         0
18   91749.16       114175.79        294919.57        1         0
49       0.00       116983.80         45173.06        0         0
20   76253.86       113867.30        298664.47        0         0
7   130298.13       145530.06        323876.68        1         0
42   23640.93        96189.63        148001.11        0         0
14  119943.24       156547.42        256512.92        1         0
28   66051.52       182645.56        118148.20        1         0
38   20229.59        65947.93        185265.10        0         1

In [149]:
y_train

46     49490.75
47     42559.73
15    129917.04
9     149759.96
16    126992.93
24    108552.04
34     96712.80
31     97483.56
0     192261.83
44     65200.33
27    105008.31
33     96778.92
5     156991.12
29    101004.64
11    144259.40
36     90708.19
1     191792.06
21    111313.02
2     191050.39
43     69758.98
35     96479.51
23    108733.99
40     78239.91
10    146121.95
22    110352.25
18    124266.90
49     14681.40
20    118474.03
7     155752.60
42     71498.49
14    132602.65
28    103282.38
38     81229.06
Name: Profit, dtype: float64

In [150]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((33, 5), (17, 5), (33,), (17,))

In [151]:
df1.shape

(50, 6)

In [152]:
from sklearn.linear_model import LinearRegression

In [153]:
reg=LinearRegression()

In [154]:
reg.fit(X_train,y_train)

LinearRegression()

In [155]:
#y=m1x1+m2x2+m3x3+m4x4+m5x5+c is the model

In [156]:
reg.coef_

array([ 8.04312540e-01, -8.99140461e-02,  2.84812890e-02,  4.03924487e+02,
       -1.21407965e+03])

In [157]:
reg.intercept_

57183.41295217197

In [158]:
y_train_pred=reg.predict(X_train)
y_train_pred

array([ 56694.07716541,  45006.63062018, 144512.857242  , 155297.68934747,
       116525.92444407, 113013.76150971,  86349.3742125 ,  93924.61183384,
       190089.75258858,  61909.01028595, 112528.69135221,  99068.57747849,
       163399.5925741 ,  98028.35104457, 137014.91440024,  74946.17221837,
       186994.61279621, 113729.48015644, 183526.36401409,  57999.3873584 ,
        91185.43447747, 111076.30148411,  74573.36956591, 136140.14104102,
       114701.11961731, 129516.0196457 ,  47951.5131393 , 116783.42821569,
       158526.98617222,  71764.57297254, 147289.19615997,  97656.01500381,
        71587.18986212])

In [159]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [160]:
mean_squared_error(y_train,y_train_pred)

86483868.1070793

In [161]:
#finding accuracy for training point

In [162]:
r2_score(y_train,y_train_pred)*100 # 94% of training accuracy

94.83841429755522

In [166]:
X_data=pd.DataFrame({'Actual':y_train,'y_predicted':y_train_pred})

In [167]:
X_data

       Actual    y_predicted
46   49490.75   56694.077165
47   42559.73   45006.630620
15  129917.04  144512.857242
9   149759.96  155297.689347
16  126992.93  116525.924444
24  108552.04  113013.761510
34   96712.80   86349.374212
31   97483.56   93924.611834
0   192261.83  190089.752589
44   65200.33   61909.010286
27  105008.31  112528.691352
33   96778.92   99068.577478
5   156991.12  163399.592574
29  101004.64   98028.351045
11  144259.40  137014.914400
36   90708.19   74946.172218
1   191792.06  186994.612796
21  111313.02  113729.480156
2   191050.39  183526.364014
43   69758.98   57999.387358
35   96479.51   91185.434477
23  108733.99  111076.301484
40   78239.91   74573.369566
10  146121.95  136140.141041
22  110352.25  114701.119617
18  124266.90  129516.019646
49   14681.40   47951.513139
20  118474.03  116783.428216
7   155752.60  158526.986172
42   71498.49   71764.572973
14  132602.65  147289.196160
28  103282.38   97656.015004
38   81229.06   71587.189862

In [171]:
# Testing part
y_test_pred=reg.predict(X_test)

In [172]:
X_test=pd.DataFrame({'Actual':y_test,'Predicted':y_test_pred})

In [173]:
X_test

       Actual      Predicted
13  134307.35  126187.358759
39   81005.76   85719.456250
30   99937.59   99648.034932
45   64926.08   45664.955053
17  125370.37  127106.842490
48   35673.41   51752.874942
26  105733.54  109033.361857
25  107404.34  100575.614106
32   97427.84   97877.863567
19  122776.86  111674.706978
12  141585.52  128750.987418
4   166187.94  174097.597840
37   89949.14   93630.003624
8   152211.77  148426.419420
3   182901.99  172333.626070
6   156122.51  155858.609223
41   77798.83   77089.612523

In [174]:
mean_squared_error(y_test,y_test_pred)

74658919.97269887

In [176]:
r2_score(y_test,y_test_pred)*100

94.75312056928277

In [177]:
reg.coef_

array([ 8.04312540e-01, -8.99140461e-02,  2.84812890e-02,  4.03924487e+02,
       -1.21407965e+03])

In [180]:
reg.intercept_

57183.41295217197

In [179]:
reg.predict([[12.2,15.5,20,0,0]])

/Users/ashwinivalmiki/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([57192.40152323])

In [ ]:
#y=m1x1+m2x2+m3x3+m4x4+m5x5+c

In [181]:
y=(8.04312540e-01* 12.2)+(-8.99140461e-02*15.5)+(2.84812890e-02*20)+(4.03924487e+02*0)+(-1.21407965e+03*0)+57183.41295217197

In [182]:
y

57192.401523225424